<h1>Add to our secret club!</h1>
<form method="POST" action="/new" id="create-new">
    <fieldset>
        <legend>Make a new Post!</legend>
        <label for="name">Name (max 16 char):</label>
        <input required type="text" name="name" id="name" maxlength="16" placeholder="John Snow">
        <label for="message">Message: </label>
        <textarea required id="message" name="message" rows="4" col="20">
            Enter your message...
        </textarea>
        <input type="submit" value="Submit!">
    </fieldset>
</form>