<h1>Make a new Post!</h1>
<form method="POST" action="/new">
    <fieldset>
        <legend>Make a new Post!</legend>
        <label for="name">Name (max 16 char):</label>
        <input type="text" name="name" id="name" required maxlength="16" placeholder="John Snow">
        <label for="message">Message: </label>
        <textarea id="message" name="message" rows="4" col="20">
            Enter your message...
        </textarea>
    </fieldset>
    <input type="text" name="" id="">
</form>